$popp-semib: 'Poppins Semibold',
sans-serif;
$popp-reg: 'Poppins Regular',
sans-serif;
$popp-medium: 'Poppins Medium',
sans-serif;

$popp-light: 'Poppins Light',
sans-serif;

$merri-reg: 'Merriweather-Regular',
serif;

$default-font-size: 14px;


$color-white: #fff;

$color-black: #000;
$color-black-1: #212121;
$color-black-2: #121b23;
$color-dark: #1c1c1c;

$color-dark-1: #262626;

$color-yellow-dark:#af943e;
$color-yellow-light-1: #af943e;
$color-yellow-light-2:#c59e5d;
$color-yellow-light-3: #d7ca9f;
$color-yellow-dark-1: #6a6040;
$color-yellow-dark-2: #414141;

$color-foreground: #c6ac88;

$color-orange-light: #b8976a;


$color-gray-light-1: #888;
$color-gray-light-2: #f3f4f5;
$color-gray-light-3: #666;
$color-gray-light-4: #e9e9e9;
$color-gray-light-5: #8c8c8c;


$color-gray-dark-1: #333;


$bg-color-gray: #f1f1f1;
$bg-color-gray-light: #f5f5f5;
$bg-color-copyright: #141516;

$bg-color-top: #2e2e2f;
$bg-color-dark: #181a1b;

$transition: .4s